<div class="app-exps">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12">
      <h2>Mon expérience pour réaliser votre projet</h2>
      <div class="text-exps">
        <p>
          Tout au long de mon parcours j'ai eu la chance de pouvoir exprimer ma
          passion pour la création web au sein de petites et de grandes
          sociétés.<br />
          La majorité de mon expérience provient de ses différents projets,
          entre web-design et développement web.<br /><br />
          De mes debuts à la réalisation de plusieurs maquettes web sur
          Photoshop à VLIS.<br />
          La mise en place du socle technique et le développement de plusieurs
          publicités web pour Samsung, le groupe Accor et autres à Kpsule<br />
          Participer activement sur deux projets métier en tant que développeur
          Angular pour Renault Technocentre<br />
          Faire mes armes durant quatre années en tant que développeur Fullstack
          Java/Angular au sein de la Société Générale<br />
          Continuer mon aventure de developpeur Fullstack chez Generali /
          Europ-Assistance <br />
          Actuellement développeur front-end à la Française des jeux
        </p>
      </div>
    </div>
  </div>
</div>
