<div class="app-skills">
  <div class="row">
    <div class="col-xl-7 col-lg-7 col-md-12 col-xs-12 text-center">
      <img
        class="illustration"
        src="../../assets/images/affaire-illustration.png"
        alt="illustration-affaire"
      />
    </div>
    <div class="col-xl-5 col-lg-5 col-md-12 col-xs-12">
      <div class="content-affaire">
        <div class="text-affaire">
          <p>
            Développer votre affaire, créer votre identité sur internet.<br />
            Je créer votre e-commerce pour que vous puissez vendre vos produits
            en ligne.<br />
            Paiements securisés, click and collect et gestion de vos factures,
            livraisons, retours clients.
          </p>
          <div class="text-center">
            <img
              class="logo"
              src="../../assets/images/prestashop-logo.png"
              alt="logo-prestashop"
            />
            <img
              class="logo"
              src="../../assets/images/logo-wordpress.png"
              alt="logo-wordpress"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
