<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header app-nav-link">
    <div class="mdl-layout__header-row">
      <img src="assets/images/logo-adrien-50.png" alt="Logo" width="50px">
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <p class="mdl-navigation__link" (click)="onScrollInAnchor('affaire')">Developper votre affaire</p>
        <p class="mdl-navigation__link" (click)="onScrollInAnchor('projects')">Mes projets</p>
        <p class="mdl-navigation__link" (click)="onScrollInAnchor('jobs')">Mon parcours</p>
        <p class="mdl-navigation__link" (click)="onScrollInAnchor('contact')">Contact</p>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <span class="mdl-layout-title">Navigation</span>
    <nav class="mdl-navigation">
      <p class="mdl-navigation__link" (click)="onScrollInAnchor('affaire')">Developper votre affaire</p>
      <p class="mdl-navigation__link" (click)="onScrollInAnchor('projects')">Mes projets</p>
      <p class="mdl-navigation__link" (click)="onScrollInAnchor('jobs')">Mon parcours</p>
      <p class="mdl-navigation__link" (click)="onScrollInAnchor('contact')">Contact</p>
    </nav>
  </div>
  <main #mainContent id="main-content" (scroll)="isShowScrollBackButton = true" class="mdl-layout__content main-content">
    <div class="page-content">
      <div class="container-fluid">
        <app-pres id="home"></app-pres>
        <app-skills id="affaire"></app-skills>
        <app-application></app-application>
        <app-job id="projects"></app-job>
        <app-exps id="jobs"></app-exps>
        <app-footer id="contact"></app-footer>
        <app-scroll-back-button 
        [show]="isShowScrollBackButton" 
        bgColorButton="#4243ad" 
        (onClickScrollBackButton)="scrollTop()"></app-scroll-back-button>
      </div>
    </div>
  </main>
</div>  